@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Lexend', sans-serif;
}

header {
    background-color: rgb(27, 27, 27);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(96, 253, 96);
    font-size: large;
    text-transform: uppercase;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 850px;
    width: 100%;
}

.duo-boxes {
    display: flex;
    gap: 20px;
}

.box {
    background-color: rgb(27, 27, 27);
    height: 400px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: rgb(96, 253, 96);
    font-size: medium;
}

.large-box {
    background-color: rgb(27, 27, 27);
    color: rgb(96, 253, 96);
    font-size: medium;
    border-radius: 10px;
    height: 300px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

input{
    background-color: rgb(96, 253, 96);
    color: black;
    font-family: 'Lexend', sans-serif;
    border: 0;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    font-size: large;
}

span{
    height: 40px;
}

.botao:hover{
    cursor: pointer;
    background-color: rgb(31, 83, 31);
}